.hide{
  display: none;
}
.img_wrap{
  background-color: #eef;
  border-radius: 65px;
  border: 2px #eef solid;
}
.img_wrap img{
  max-width: 128px;
}

.img_wrap, .user_details{
  vertical-align: middle;
  display: inline-block;
  margin-right: 30px;
}
