.hide{
  display: none;
}
.img_wrap{
  background-color: #eef;
  border-radius: 65px;
  border: 2px #eef solid;
}
.img_wrap img{
  width: 128px;
}

.img_wrap, .user_details{
  vertical-align: middle;
  display: inline-block;
  margin-right: 30px;
}

.user-edit-view{
  text-align: center;
  width: 50%;
  margin: 0 auto;
  padding: 10px 0px;
}

input{
  margin: 10px 0px;
}

button.save{
  background-color: #5cdb95;
}

button.cancel{
  background-color: #ccce;
}

.btns button{
  width: 40%;
  margin: 10px;
}

