<div>
  <form #f="ngForm">
    <div class="form-group">
      <label for="podcast">Podcast</label>
      <input type="file" name="podcast" (change)="storeFile($event)" id="podcast-file" accept=".mp3, .wav" ngModel/>
    </div>

    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" name="title" required id="title" ngModel/>
    </div>

    <div class="form-group">
      <label for="description">Description</label>
      <input type="text" name="description" required id="description" ngModel/>
    </div>

    <div class="form-group">
      <label for="category">Category</label>
      <select name="category" id="category-options" ngModel>
          <option value="comedy">Comedy</option>
          <option value="education">Education</option>
          <option value="lifestyle">Lifestyle</option>
          <option value="misc">Misc</option>
          <option value="sports">Sports</option>
          <option value="politics">Politics</option>
          <option value="religion">Religion</option>
      </select>
    </div>

    <button (click)="upload(f)">Upload</button>
  </form>
</div>
