.search-box{
  position: relative;
  text-align: center;
  padding: 10px 14px 10px 10px;
  width: 340px;
  border: 2px #eef solid;
  background-color: #fff;
}

svg{
  display: table-cell;
  height: 25px;
  width: 25px;
  padding-left: 5px;
}

input.search{
  display: table-cell;
  vertical-align: middle;
  padding: 5px;
  color: #000;
}

.dropdown-menu{
  position: absolute;
  top: 40;
  width: 500px;
  display: block;
  padding: 20px;
  max-height: 500px;
  overflow-y: scroll;
  border: 2px #eef solid;
}

.dropdown-item{
  height: 50px;
  text-transform: uppercase;
  padding: 10px;
  border: 2px #eef solid;
  margin-bottom: 10px;
  list-style: none;
  cursor: pointer;
}
.dropdown-item:hover{
  background-color: #eef;
}
::-webkit-scrollbar{

  display: none;
}
