.comment-box{
    border: #cccccc 2px solid;
    min-height: 100%;
    max-height: 100%;
    position: relative;
}

.comment-view-container{
    border: #cccccc 2px solid;
    min-height: 50% ;
}

.comment-input{
    width: 100%;
    border: #000000 2px solid;
}

.comment-input input{
    width: 60%;
    padding: 10px;
}