.main{
  margin: 0px auto;
  padding: 0 20%;
  height: 100vh;
  background-color: #cccccc;
}

// w-auto h-screen pb-10
// .main{
//   display: flex;
//   width: 100%;
//   padding: 0;
//   margin: 0;
//   align-items: center;
//   justify-content: center;
//   flex-direction: column;
//   min-height: 100vh;
//   background-color: #cccccc;
// }