.user_profile{

  scroll-behavior: smooth;
  margin: 0;
  padding: 0;

}

.profile_card{
  width: 80%;
  margin: 0;
  position: relative;
  overflow-y: hidden;
  padding: 5px 5px;
  width: 100%;
  border-bottom: 2px black solid;
}

.img_wrap{
  background-color: #eef;
  border-radius: 65px;
  border: 2px #eef solid;
  margin-top: 0;
  padding-top: 0;
}
.img_wrap img{
  max-width: 128px;
  margin-top: 0;
  padding-top: 0;
}

.img_wrap, .user_details{
  vertical-align: middle;
  display: inline-block;
  margin-right: 30px;
  margin-top: 0;
  padding-top: 0;
}

.profile-btns{
  margin-top: 20px;
}

.profile-btns button{
  color: white;
  padding: 0.5rem 1rem;
  font-weight: bold;
  border-radius: 7px;
  border: 2px solid #eef;
  background-color: #000000;
  text-transform: uppercase;
  text-align: center;
}

.profile-btns button:hover{
  color: #cccccc;
}
.nav{
  margin: 0 auto;
  margin-top: 20px;
  position: relative;
}
.nav ul{
  margin: 0 auto;
  text-align: center;
}
.list-item{
  display: inline-block;
  padding: 10px;
  text-align: center;
  letter-spacing: 1px;
  cursor: pointer;
}
.active{
  color: #000000;
  border-bottom: 2px #000000 solid;
}
