#user-profile{
  margin: 0 auto;
  width: 80%;
  position: relative;
  padding: 20px;
  display: table;
}

#user-profile img{
  display: table-cell;
  width: 100px;
  height: 100%;
  vertical-align: middle;
}

#user-profile-details{
  display: table-cell;
  max-width: 70%;
}

#user-profile-details-wrap{
  height: 100%;
  vertical-align: middle;
}

#edit-user-details-btns{
  padding: 20px 0px;
}

#edit-user-details-btns button{
  color: #ffffff;
  margin-right: 20px;
  font-weight: 700;
  font-size: 16px;
  background-color: #5cdb95;
  border: #eef 2px solid;
  padding: 10px;
}

#edit-user-details-btns button:hover{
  color: #000000;
  border-color: darken($color: #eef, $amount: 10px);
}
