.user_profile{
  width: 80%;
  margin: 0 auto;
  scroll-behavior: smooth;
}

.profile_card{
  position: relative;
  background-color: #ffffff;
  height: auto;
  overflow-y: hidden;
  padding: 15px 30px;
  width: 100%;
  border: 1px #ccc solid;
}
.img_wrap{
  background-color: #eef;
  border-radius: 65px;
  border: 2px #eef solid;
}
.img_wrap img{
  max-width: 128px;
}

.img_wrap, .user_details{
  vertical-align: middle;
  display: inline-block;
  margin-right: 30px;
}

.profile-btns{
  margin-top: 20px;
}

.profile-btns button{
  color: white;
  padding: 0.5rem 1rem;
  font-weight: bold;
  border-radius: 7px;
  border: 2px solid #eef;
  background-color: #5cdb95;
  text-transform: uppercase;
  text-align: center;
}

.profile-btns button:hover{
  color: #000000;
}
.nav{
  margin: 0 auto;
  width: 50%;
  margin-top: 20px;
}
.list-item{
  display: table-cell;
  padding: 10px;
  text-align: center;
  letter-spacing: 1px;
}
.active{
  color: #5cdb95;
  border-bottom: 2px #000000 solid;
}
