<div class="flex-1 flex-wrap mt-5">
    <div class="w-1/5">
      <ul class="flex mb-0 list-none flex-wrap pt-3 pb-4 flex-col">
        <li class="-mb-px mr-2 last:mr-0 flex-auto text-center">
          <a class="text-sm font-bold fas uppercase px-5 py-3 shadow-lg rounded block leading-normal">
             Podcasts
          </a>
          <ul class="flex mb-0 list-none flex-wrap pt-3 pb-4 flex-col mr-3 ml-3">
            <li><a [routerLink]="['podcasts/popular']"  routerLinkActive="active" class="sidebar_a">Popular</a></li>
            <li><a [routerLink]="['podcasts/recommended']" routerLinkActive="active" class="sidebar_a">Recommended</a></li>
            <li><a [routerLink]="['podcasts/recent']" routerLinkActive="active" class="sidebar_a">Recent</a></li>
          </ul>
        </li>
        <li class="-mb-px mr-2 last:mr-0 flex-auto text-center">
          <a class="text-sm fas font-bold uppercase px-5 py-3 shadow-lg rounded block leading-normal"
          > Categories
          </a>
          <ul class="flex mb-0 list-none flex-wrap pt-3 pb-4 flex-col mr-3 ml-3">
            <li>
              <a [routerLink]="['podcasts']" [queryParams]="{category:'comedy'}" class="sidebar_a" routerLinkActive="active">Comedy</a>
            </li>
            <li>
              <a [routerLink]="['podcasts']" [queryParams]="{category:'educational'}" class="sidebar_a" routerLinkActive="active">Educational</a>
            </li>
            <li>
              <a [routerLink]="['podcasts']" [queryParams]="{category:'lifestyle'}" class="sidebar_a" routerLinkActive="active">LifeStyle</a>
            </li>
            <li>
              <a [routerLink]="['podcasts']" [queryParams]="{category:'misc'}" class="sidebar_a" routerLinkActive="active">Misc</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>


