html body{
    height: 99%;
    overflow: hidden;
}
#podcast-view-container{
    padding: 20px;
    text-align: center;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.podcast-list{
    height: 99%;
    overflow-y: auto;
    margin: 0 30px;
    max-width: 30%;
    min-height: 20%;
    display: inline-block;
    padding: 0.5%;
}

.comment-view{
    max-height: 100%;
    min-height: 100%;
    margin: 0 30px;
    max-width: 70%;
    min-width: 50%;
    display: inline-block
}