@import 'tailwindcss/base';
@import 'tailwindcss/components'; 
@import './assets/custom-tailwind/custom-components.css'; // added
@import 'tailwindcss/utilities';
@import './assets/custom-tailwind/custom-utilities.css'; // added