.sml-txt-gray{
    @apply px-4;
    @apply py-2;
    @apply rounded;
    @apply bg-transparent;
    @apply text-red-800;
    transition: 200ms;
  }

  .btn:hover {
    @apply bg-white;
  }


  .sidebar_a{
    @apply px-5;
    @apply py-3; 
    @apply shadow-md;
    @apply rounded;
    @apply block;
    @apply leading-normal;
    @apply text-xs;
    @apply font-semibold;
  }


  .sidebar_a:hover{
    @apply -translate-y-1;
    @apply border-2;
    @apply duration-500;
    @apply ease-in-out;
    @apply cursor-pointer;
    @apply bg-black;
    @apply text-white
  }

  .sidebar_a:active{
    @apply bg-black;
    @apply text-white
  }

